<div class="row">
  <div class="col-sm-8">
    <h2>
      <ng-transclude></ng-transclude>
    </h2>
  </div>

  <div class="col-sm-4 bottom">
    <button type="button" class="btn btn-info btn-xs">
      <a ui-sref="stocks.trade">Trade</a>
    </button>
    <button type="button" class="btn btn-info btn-xs">
      <a ui-sref="stocks.transactions">Transactions</a>
    </button>
    <button type="button" class="btn btn-info btn-xs">
      <a ui-sref="stocks">Portfolio</a>
    </button> 
  </div>
</div>