<div class="row">
  <div class="col-sm-8"><h2>Portfolio</h2></div>
  <div class="col-sm-4">        
    <a ui-sref="stocks">Portfolio</a>
    <a ui-sref="stocks.trade">Trade</a>
    <a ui-sref="stocks.transactions">Transactions</a>
  </div>
  
</div>

{{cash}}

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Cost Basis</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
      <th>1D</th>
      <th>7D</th>
      <th>30D</th>
    </tr>
  </table>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th>Symbol</th>
      <th>Quantity</th>
      <th>Cost Basis</th>
      <th>Current Value</th>
      <th>Profit/Loss</th>
      <th>Current Price</th>
      <th>1D</th>
      <th>7D</th>
      <th>30D</th>
      <th>Trade?</th>
    </tr>
  </table>  
</div>

