<div portfolio-header>Portfolio</div>

<div welcome ng-hide="{{trades.length}}"></div>

<div ng-show="{{trades.length}}">
  <div class="clearfix">
    <h5 class="text-muted pull-right"> as of {{date}}</h5>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tr>
        <th>Cost Basis</th>
        <th>Current Value</th>
        <th>Profit/Loss</th>
      </tr>
      <tr>
        <td>{{ overview.costBasis | currency }}</td>
        <td>{{ overview.currentVal | currency }}</td>
        <td>{{ (overview.costBasis - overview.currentVal) | currency }}</td>
      </tr>
    </table>
  </div>

  <div class="table-responsive">
    <table class="table table-hover table-striped">
      <tr>
        <th>Symbol</th>
        <th>Quantity</th>
        <th>Cost Basis</th>
        <th>Current Value</th>
        <th>Profit/Loss</th>
        <th>Current Price</th>
        <th>1D</th>
        <th>7D</th>
        <th>30D</th>
        <th>Trade</th>
      </tr>
      <tr portfolio-positions-table-row ng-repeat="position in positions" position="position" date="date">
      </tr>
    </table> 
    <small class="text-muted">*1D, 7D, and 30D columns refer to respective price changes from one, seven, and thirty calendar days before the selected date.</small>  
    <small class="text-muted">*Amounts in parentheses indicate negative balances or changes in price. </small>  
  </div>  
</div>



