<div class="row">
  <div class="col-sm-5">
    <h2>Stocks</h2>
  </div>
  <div class="col-sm-7 bottom">
    <input type="date" class="form-control input-sm pull-right" ng-value="date()">
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Price</th>
        <th>1D</th>
        <th>7D</th>
        <th>30D</th>
        <th>Trade</th>
      </tr>  
    </thead>
    <tbody>
      <tr ng-repeat="stock in tableData">
        <td>{{stock.symbol}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.one}}</td>
        <td>{{stock.seven}}</td>
        <td>{{stock.thirty}}</td>
        <td><a href="">trade</a></td>
      </tr>  
    </tbody>
  </table>  
</div>
