<div class="row">
  <div class="col-sm-5">
    <h2>Stocks</h2>
  </div>
  <div class="col-sm-7 bottom">
    <input type="date" class="form-control input-sm pull-right" ng-value="date()">
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th role="button" ng-click="changeSymbolFilter();">
          Symbol <span class="{{symbolFilterValue ? 'glyphicon glyphicon-triangle-bottom' : 'glyphicon glyphicon-triangle-top'}}" aria-hidden="true"></span>
        </th>
        <th>Price</th>
        <th>1D</th>
        <th>7D</th>
        <th>30D</th>
        <th>Trade</th>
      </tr>  
    </thead>
    <tbody>
      <tr ng-repeat="stock in tableData | orderBy: 'symbol' : symbolFilterValue ">
        <td>{{stock.symbol}}</td>
        <td>{{stock.price}}</td>
        <td>{{stock.one}}</td>
        <td>{{stock.seven}}</td>
        <td>{{stock.thirty}}</td>
        <td><a ui-sref="stocks.trade({ symbol: stock.symbol, price: {{stock.price}}, date: date() })">Trade</a></td>
      </tr>  
    </tbody>
  </table>  
</div>
