<div class="row">
  <div class="col-sm-8"><h2>Trade</h2></div>
  <div class="col-sm-4">

          <a ui-sref="stocks">Portfolio</a>
          <a ui-sref="stocks.trade">Trade</a>
          <a ui-sref="stocks.transactions">Transactions</a>
  </div>
  
</div>

<div class="row">
  <div class="col-sm-7">


    <form name="newTrade">
      <table class="table">
        <tr>
          <td>Symbol</td>
          <td><input class="form-control" type="text" ng-model="newTrade.symbol"></td>
        </tr>
        <tr>
          <td>Buy/Sell</td>
          <td><select class="form-control" 
                      ng-model="newTrade.action"
                      ng-options="action.value as action.name for action in [{ name: 'Buy', value: true }, { name: 'Sell', value: false }]">
                      </select></td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td><input class="form-control" type="number" ng-model="newTrade.quantity"></td>
        </tr>
        <tr>
          <td>Date</td>
          <td><input class="form-control" type="date" ng-model="newTrade.date" ng-value="{{newTrade.date}}"></td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{newTrade.price}}</td>
        </tr>
        <tr>
          <td>Cost</td>
          <td>{{cost}}</td>
        </tr>
      </table>
      <button ng-click="submitTrade()" class="btn btn-primary btn-block">Submit</button>
    </form>



  </div>

  <div class="col-sm-offset-1 col-sm-4">
    <h4>Cash Available:</h4>
    <p>${{cashAvailable.toFixed(2)}}</p>
    <h4>Order Status</h4>
    <h5 class="{{orderStatus ? 'text-success' : 'text-danger'}}">{{orderStatus ? 'VALID' : 'INVALID'}}</h5>
  </div>
</div>