<div class="row">
  <div class="col-sm-8"><h2>Transactions</h2></div>
  <div class="col-sm-4">        
    <a ui-sref="stocks">Portfolio</a>
    <a ui-sref="stocks.trade">Trade</a>
    <a ui-sref="stocks.transactions">Transactions</a>
  </div>
  
</div>

<h5>Click on any column to sort your trades by that criteria.</h5>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th role="button" ng-click="changeSort('date')">
        Date
        <span class="{{sortDisplay('date')}}" aria-hidden="true"></span>
      </th>
      <th role="button" ng-click="changeSort('symbol')">
        Symbol
        <span class="{{sortDisplay('symbol')}}" aria-hidden="true"></span>
      </th>
      <th role="button" ng-click="changeSort('type')">
        Type
        <span class="{{sortDisplay('type')}}" aria-hidden="true"></span>
      </th>
      <th role="button" ng-click="changeSort('quantity')">
        Quantity
        <span class="{{sortDisplay('quantity')}}" aria-hidden="true"></span>
      </th>
      <th role="button" ng-click="changeSort('price')">
        Price
        <span class="{{sortDisplay('price')}}" aria-hidden="true"></span>
      </th>
    </tr>
    <tr ng-repeat="transaction in transactions | orderBy : sortType: sortValue ">
      <td>{{transaction.date}}</td>
      <td>{{transaction.symbol}}</td>
      <td>{{transaction.type ? 'Buy' : 'Sell'}}</td>
      <td>{{transaction.quantity}}</td>
      <td>{{transaction.price | currency}}</td>
    </tr>
  </table>
</div>