<div portfolio-header>Transactions</div>

<h5 class="text-muted">Click on any column to sort your trades by that criteria.</h5>

<div class="table-responsive">
  <table class="table table-striped">
    <tr>
      <th role="button" ng-click="changeSort('date')">
        Date
        <span class="{{sortDisplay('date')}}" aria-hidden="true"></span>
      </th>
      <th role="button" ng-click="changeSort('symbol')">
        Symbol
        <span class="{{sortDisplay('symbol')}}" aria-hidden="true"></span>
      </th>
      <th role="button" ng-click="changeSort('type')">
        Type
        <span class="{{sortDisplay('type')}}" aria-hidden="true"></span>
      </th>
      <th role="button" ng-click="changeSort('quantity')">
        Quantity
        <span class="{{sortDisplay('quantity')}}" aria-hidden="true"></span>
      </th>
      <th role="button" ng-click="changeSort('price')">
        Price
        <span class="{{sortDisplay('price')}}" aria-hidden="true"></span>
      </th>
    </tr>
    <tr transaction-table-row ng-repeat="transaction in transactions | orderBy : sortType: sortValue" transaction="transaction">
<!--       <td>{{transaction.date}}</td>
      <td>{{transaction.symbol}}</td>
      <td>{{transaction.type ? 'Buy' : 'Sell'}}</td>
      <td>{{transaction.quantity}}</td>
      <td>{{transaction.price | currency}}</td> -->
    </tr>
  </table>
</div>